@charset "UTF-8";

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

div.main_content {
  background-color: rgba(123, 128, 132, .3);
}

div.main {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  line-height: 1.4em;
  position: absolute;
  background-image: url('../img/enpitu.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow: auto;
}

div.header {
  width: 100%;
  height: 200px;
}

div.img img {
  width: 150px;
  height: 150px;
  float: left;
  margin: 30px;
  margin-left: 50px;
  margin-top: 40px;
}

ul.header_main {
  float: right;
  padding: 10px;
  font-size: 25px;
  font-weight: 800;
  margin-top: 80px;
}

li.text {
  list-style: none;
  font-family: serif;
  float: left;
  padding: 10px;
}

.text a {
  color: black;
  text-decoration: none;
}

li.login_sub {
  list-style: none;
  text-decoration: none;
  font-family: serif;
  float: left;
  padding: 10px;
  color: black;
}

.login_sub a {
  color: black;
  text-decoration: none;
}

li.new {
  list-style: none;
  text-decoration: none;
  font-family: serif;
  float: left;
  padding: 10px;
  color: black;
}

.new a {
  color: black;
  text-decoration: none;
}

li.login_account {
  list-style: none;
  text-decoration: none;
  font-family: serif;
  float: left;
  padding: 10px;
  color: black;
}

.login_account a {
  color: black;
  text-decoration: none;
}

li.text:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px white;
}

li.login_sub:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px white;
}

li.new:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px white;
}

li.login_account:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px white;
}

.profilecard {
  width: 38vw;
  margin: 3vw auto;
  padding: 1vw;
  background-color: #EEEEEE;
  border: solid 10px #f7b52c;
}

.profile-header {
  display: flex;
  text-align: center;
}

.profile-header p {
  margin: auto;
  font-size: 3vw;
  text-align: center;
  margin-right: 40px;
}

.profile-header img {
  width: 50%;
  margin: 2vw 2vw;
}

p span {
  display: inline-block;
}

a img .edit {
  margin-left: 1vw;
  width: 2vw;
  height: auto;
}

.profile-content {
  margin: 1vw 0;
}

.profile-content p {
  line-height: 1.4;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
}

.profilecard .fixed {
  margin-top: 80px;
}


.erra {
  text-align: center;

}

.square_btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #4646ff;
    border-bottom: solid 2px #1e1eff;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-size: 15px;
}

.square_btn:hover {
  box-shadow: 0 0 8px rgba(0, 195, 255);
  transform: scale(1.1);
}

.square_btn:active {
    border-bottom: solid 2px #4646ff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.back {
  float: right;
  margin-bottom: 10px;
  margin-right: 50px;
}

.back input {
  background-color: rgba(0, 195, 255, .7);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  margin: 0 20px;
  font-size: 15px;
  width: 100px;
}

.back input:hover {
  background-color: rgba(0, 195, 255, .9);
  text-decoration: none;
  cursor: pointer;
  margin: 0 20px;
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(0, 195, 255);
}
