@charset "UTF-8";

body {
  background-color: rgba(0, 0, 0, .1);
}

.title {
  font-size: 25px;
  font-weight: 800;
  border-bottom: 2px solid black;
  height: 80px;
  margin-bottom: 20px;
  opacity: .6;
}

p.title_text {
  margin: 0;
  padding: 20px;
}

.main_text {
  width: 350px;
  height: 550px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid black;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 0 8px black;
  margin-top: 100px;
  overflow: scroll;
}

.main_content {
  width: 100%;
  height: 180px;
}

.ma {
  font-size: 18px;
  opacity: .5;
  margin: 25px auto;
}

.login {
  width: 100%;
  height: 200px;
}

p.login_mail {
  margin: 20px;
}

input[type=text] {
  font-size: 15px;
  padding: 0 10px 0 10px;
  width: 200px;
  height: 35px;
  box-shadow: 0 0 1px grey;
}

input[type=password] {
  font-size: 15px;
  padding: 0 10px 0 10px;
  width: 200px;
  height: 35px;
  box-shadow: 0 0 1px grey;
}

input[type=submit] {
  width: 230px;
  height: 50px;
  border-style: none;
  background-color: rgba(123, 128, 132, .5);
  color: black;
  font-size: 20px;
  opacity: .3;
}

span.sen img {
  width: 100px;
  height: 20px;
  margin: 5px 10px 0 10px;
}

div.fb-login-button {
  margin: 20px auto;
}


html body div.root div.ltr span #button.Ndb {
 width: 250px !important;
 height: 40px !important;
}


div.g-signin {
  width: 240px;
  margin: 0 auto;
  height: 40px;

}
